.container{
  display: flex;
  align-items: center;
  min-height: 100vh;
}



.jumbotron{
  color: #ffffff; 
  background: #ff8a65; 
  height: 100%; 
  margin: 0 auto; 


}

.button-main{
  font-family: $font-body;
  font-weight: $font-body-weight-l;
  border: 2px solid $secondary;



}