
.logo{
  width: 150px;
}

.navbar{
  font-family: $font-header;
  display: flex;
  justify-content: space-around;
  // background: $primary;
  border-bottom: 5px solid $primary-dark

}





#navbar__header{
  font-family: $font-header;
  font-weight: $font-header-weight;
  color: black;
  font-size: 2rem;


}



