
.logo{
  width: 150px;
}

.navbar{
  font-family: $font-header;
  display: flex;
  justify-content: space-around;
  // background: $primary;
  border-bottom: 5px solid $primary-dark

}

.navbar__header{
  font-family: $font-header;
  font-weight: $font-header-weight;
  font-size: 2rem;

}

.navbar__controls{

display: flex;
justify-content: center;
align-items: center;
font-family: $font-header;
font-weight: $font-header-weight;
}


.navbar__Link{

    text-decoration: none;
}
