
.logo{
  width: 200px;

}

.navbar-row{
  font-family: $font-body;
   
  width: 75%;
  margin: 0 auto; 

}


.navbar__header{
  font-family: $font-header;
  font-weight: $font-header-weight;
  font-size: 2rem;

}


.navbar__controls{

font-family: $font-header;
font-weight: $font-header-weight;
}


.navbar__Link{

    text-decoration: none;
}

.bottom-navbar{
  justify-content: center;
}
