// Fonts

$font-header: 'Karla', sans-serif;
$font-header-weight: 400; 

$font-body: 'Karla', sans-serif;
$font-body-weight-m:400; 
$font-body-weight-l: 700; 
 


// Colors

    //Background

    $background: #F7F7F6; 

    // Primary color

    $primary: #ff8a65; 
    $primary-dark: #b26046; 
    $primary-light: #ffa183; 


    // Secondary color

    $secondary: #81c784; 
    $secondary-light: #9ad29c; 
    $secondary-dark: #5a8b5c; 

// Font Sizes

    $font-size-m: 18px